*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Header Styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background-color: #f4f4f4;
}

.header h1 {
  margin-right: 20px;
}

.headermiddle,
.headerright {
  display: flex;
  gap: 20px;
  align-items: center;
}

.headermiddle a,
.headerright a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.headermiddle a:hover,
.headerright a:hover {
  color: red;
}

/* /* Main  */
.main {
  padding: 20px 100px;
}

.main h2 {
  text-align: center;
  margin-bottom: 20px;
}

.main p {
  margin: 0; 
}


.main p.spaced {
  margin-bottom: 20px;
}

/* Product */
.product-showcase {
  padding: 20px 100px;
}

.product-showcase h2 {
  text-align: center;
  margin-bottom: 20px;
}

.card {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.cards {
  border: 1px solid black;
  text-align: center;
  width: 300px;
}

.cards img {
  width: 100%;
  height: 200px;
  object-fit: fill;
  margin-bottom: 2px;
}

.cards h4 {
  font-size: 1.2rem;
  color: #333;
}

/* Footer  */
footer {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
}

.footer-heart {
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  color: #333;
}

.footer-heart a {
  
  color: #333;
  font-weight: bold;
}

.footer-heart a:hover {
  color: red;
}

.heart {
  color: red;
  font-size: 1.5rem;
}


